// Layout

// Also update the NAVTAB_HEIGHT constant in Navtabs.jsx if these are changed
$navbar-height: 3rem;
$navtab-height: 3rem;

$side-nav-width-md: 4rem;
$side-nav-width-lg: 10rem;

$navtab-shadow-height: 0.8rem;
$navtab-shadow-color: rgba(#000, 0.1);
$navtab-shadow-color-night: rgba(#000, 0.7);

// Type
$sm-font-size-ratio: 0.875;

// Animations
$fullscreen-duration: 0.375s;
$exiting-duration: 0.195s;
$entering-duration: 0.225s;
$desktop-fullscreen-duration: 0.275s;
$desktop-exiting-duration: 0.175s;
$desktop-entering-duration: 0.195s;
$material-standard-curve: cubic-bezier(0.4, 0, 0.2, 1);
$material-deceleration-curve: cubic-bezier(0, 0, 0.2, 1);
$material-acceleration-curve: cubic-bezier(0.4, 0, 1, 1);
$material-sharp-curve: cubic-bezier(0.4, 0, 0.6, 1);

$page-entering-duration: $fullscreen-duration;
$page-entering-animation: fadeIn;

$leaflet-control-offset: 0.5rem;

$alert-override-themes: success, info, danger, warning;

// Workload colors map
$workload-colors: (
  lecture: #bbdefb,
  tutorial: #dcedc8,
  laboratory: #d7ccc8,
  project: #ffe0b2,
  preparation: #ffcdd2,
);

// Theme colors. Have to correspond with ./../data/themes.json
$nusmods-theme-colors: (
  american: (
    #55efc4,
    #81ecec,
    #74b9ff,
    #a29bfe,
    #ffeaa7,
    #fab1a0,
    #ff7675,
    #fd79a8
  ),
  american-dark: (
    #00b894,
    #00cec9,
    #0984e3,
    #6c5ce7,
    #fdcb6e,
    #e17055,
    #d63031,
    #e84393
  ),
  aussie: (
    #f6e58d,
    #ffbe76,
    #ff7979,
    #badc58,
    #7ed6df,
    #e056fd,
    #686de0,
    #30336b 
  ),
  aussie-dark: (
    #f9ca24,
    #f0932b,
    #eb4d4b,
    #6ab04c,
    #22a6b3,
    #be2edd,
    #4834d4,
    #130f40
  ),
  british: (
    #00a8ff,
    #9c88ff,
    #fbc531,
    #4cd137,
    #e84118,
    #f5f6fa,
    #7f8fa6,
    #273c75
  ),
  british-dark: (
    #0097e6,
    #8c7ae6,
    #e1b12c,
    #44bd32,
    #c23616,
    #dcdde1,
    #718093,
    #192a56
  ),
  canadian: (
    #ff9ff3,
    #feca57,
    #ff6b6b,
    #48dbfb,
    #1dd1a1,
    #00d2d3,
    #54a0ff,
    #5f27cd
  ),
  canadian-dark: (
    #f368e0,
    #ff9f43,
    #ee5253,
    #0abde3,
    #10ac84,
    #01a3a4,
    #2e86de,
    #341f97
  ),
  chinese: (
    #eccc68,
    #ff7f50,
    #ff6b81,
    #a4b0be,
    #7bed9f,
    #70a1ff,
    #5352ed,
    #ffffff
  ),
  chinese-dark: (
    #ffa502,
    #ff6348,
    #ff4757,
    #747d8c,
    #2ed573,
    #1e90ff,
    #3742fa,
    #f1f2f6 
  ),
  dutch: (
    #FFC312,
    #C4E538,
    #12CBC4,
    #FDA7DF,
    #EE5A24,
    #009432,
    #0652DD,
    #9980FA
  ),
  dutch-dark: (
    #F79F1F,
    #A3CB38,
    #1289A7,
    #D980FA,
    #EA2027,
    #006266,
    #1B1464,
    #5758BB
  ),
  french: (
    #fad390,
    #f8c291,
    #6a89cc,
    #82ccdd,
    #fa983a,
    #eb2f06,
    #1e3799,
    #3c6382
  ),
  french-dark: (
    #f6b93b,
    #e55039,
    #4a69bd,
    #60a3bc,
    #e58e26,
    #b71540,
    #0c2461,
    #0a3d62
  ),
  german: (
    #fc5c65,
    #fd9644,
    #fed330,
    #26de81,
    #45aaf2,
    #4b7bec,
    #a55eea,
    #d1d8e0
  ),
  german-dark: (
    #eb3b5a,
    #fa8231,
    #f7b731,
    #20bf6b,
    #2d98da,
    #3867d6,
    #8854d0,
    #a5b1c2 
  ),
  indian: (
    #FEA47F,
    #25CCF7,
    #EAB543,
    #55E6C1,
    #B33771,
    #3B3B98,
    #FD7272,
    #9AECDB 
  ),
  indian-dark: (
    #F97F51,
    #1B9CFC,
    #F8EFBA,
    #58B19F,
    #6D214F,
    #182C61,
    #FC427B,
    #BDC581 
  ),
  russian: (
    #f3a683,
    #f7d794,
    #778beb,
    #e77f67,
    #786fa6,
    #f8a5c2,
    #63cdda,
    #ea8685 
  ),
  russian-dark: (
    #f19066,
    #f5cd79,
    #546de5,
    #e15f41,
    #574b90,
    #f78fb3,
    #3dc1d3,
    #e66767 
  ),
  spanish: (
    #40407a,
    #706fd3,
    #34ace0,
    #33d9b2,
    #ff5252,
    #ff793f,
    #ffb142,
    #ffda79
  ),
  spanish-dark: (
    #2c2c54,
    #474787,
    #227093,
    #218c74,
    #b33939,
    #cd6133,
    #cc8e35,
    #ccae62 
  ),
  swedish: (
    #ef5777,
    #575fcf,
    #4bcffa,
    #34e7e4,
    #ffc048,
    #ffdd59,
    #ff5e57,
    #d2dae2
  ),
  swedish-dark: (
    #f53b57,
    #3c40c6,
    #0fbcf9,
    #00d8d6,
    #ffa801,
    #ffd32a,
    #ff3f34,
    #808e9b
  )
);

// Z-index
$browser-warning-z-index: 9999;
$snackbar-z-index: 2500;
$sentry-z-index: 2000;
$modal-z-index: 1500;
$module-select-z-index: 960;
$module-finder-search-z-index-sm: 950;
$venue-detail-expanded-z-index: 920;
$navtabs-z-index: 900;
$navbar-z-index: 890;
$module-finder-search-z-index-md: 850;
$zindex-dropdown: 820; // Bootstrap override
$fab-z-index: 800;
$venue-map-z-index: 760;
$venue-detail-z-index: 750;
$side-menu-z-index: 700;
$side-menu-overlay-z-index: 690;
$modreg-notification-z-index: 500;
$timetable-warning-z-index: 200;
$timetable-scolled-day-z-index: 120;
$timetable-selected-cell-z-index: 110;
$timetable-timing-z-index: 95;
$timetable-day-z-index: 90;
$timetable-current-time-indicator-z-index: 60;
$timetable-cell-z-index: 30;
