.color-muted {
  border: 1px solid #ccc;
}

.hoverable {
  transition: background-color $desktop-entering-duration $material-deceleration-curve;
}

@each $name, $colors in $nusmods-theme-colors {
  @if (str-index($name, '-dark')) {
    $sliced-name: str-slice($name, 1, -6);
    .theme-#{$sliced-name}.mode-dark,
    // Specificity override for the theme settings page
    .theme-option.theme-#{$sliced-name}.mode-dark {
      $index: 0;

      @each $color in $colors {
        .color-#{$index} {
          @include color($color);
        }

        $index: $index + 1; /* stylelint-disable-line order/order */
      }
    }
  } @else {
    .theme-#{$name}:not(.mode-dark),
    // Specificity override for the theme settings page
    .theme-option.theme-#{$name}:not(.mode-dark) {
      $index: 0;

      @each $color in $colors {
        .color-#{$index} {
          @include color($color);
        }

        $index: $index + 1; /* stylelint-disable-line order/order */
      }
    }
  }
}
